[package]
name = "wamp-proto"
version = "0.1.0"
authors = ["Zachary Neely <zrussellneely@gmail.com>"]

[dependencies]
failure = "0.1"
failure_derive = "0.1"
futures = "0.1"
http = "0.1"
lazy_static = "1"
log = "0.4"
parking_lot = "0.7"
rand = "0.6"
regex = "1"
serde = "1"
serde_derive = { version = "1", optional = true }
serde_json = { version = "1", optional = true }
tokio = "0.1"
websocket = { git = "https://github.com/enzious/rust-websocket.git", optional = true }

[dev_dependencies]
env_logger = "0.6"
tokio-process = "0.2"
uuid = { version = "0.7", features = ["v4"] }

[features]
default = ["callee", "caller", "publisher", "subscriber", "ws_transport"]
callee = []
caller = []
publisher = []
subscriber = []
ws_transport = ["websocket", "serde_json", "serde_derive"]